
.mycard:hover{
	
}

.mycard{
	margin-left:35px;
	margin-right:35px;
	margin-top:25px;
	margin-bottom:40px;
	float:left;	
	height:290px;
	width:215px;
	box-shadow: 5px 10px 10px #888888;
	
	
}
.diva{
	font-weight:bold;
	height:65%;
	width:100%;
	font-size:10px;
}
.divb{
	padding:5px;
	height:35%;
	width:100%;
}
.divc{
	width:10%;
}
